* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  user-select: none;
}
.container {
  background-color: #839192;
}
article {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
#ryuk {
  float: left;
  height: 30rem;
}
#lightWithBook {
  float: right;
  height: 25rem;
}
#kira {
  float: left;
  height: 19rem;
}
#deathnote {
  clear: left;
  height: 19rem;
  overflow: auto;
}
