* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #aab7b8;
  overflow: hidden;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  width: 20rem;
  height: 20vh;
  border: 2px dashed rgb(255, 255, 254);
  margin: 1rem;
  color: #fcfefb;
}
h1 {
  font-size: 5rem;
}
p {
  font-size: 1.2vw;
  font-family: fantasy;
}
#box7 {
  background-color: rgb(255, 130, 45);
  /* item goes to first place */
  order: 1;
  flex-grow: 2;
}
#box6 {
  background-color: rgb(232, 81, 81);
  order: 3;
}
#box5 {
  background-color: rgb(251, 184, 171);
  order: 7;
  /* item shrinks but flex-wrap takes precedence */
  flex-shrink: -3;
}
#box3 {
  background-color: rgb(243, 173, 97);
  flex-basis: 10;
  order: 2;
}
#box4 {
  background-color: #58d68d;
  order: 6;
  /* item changes position but flex-wrap takes precedence */
  align-self: flex-start;
}
#box2 {
  background-color: #ab47bc;
  order: 4;
}
#box1 {
  background-color: #0096ff;
  order: 5;
}
.container02 {
  background-color: #839192;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 2rem;
  width: 50vw;
}
