* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.box1 {
  border: 5px solid black;
  background-color: rgb(9, 167, 167);
  height: 50vh;
  width: 80vw;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(215, 215, 30);
  background-color: rgb(121, 3, 46);
  height: 50vh;
}
.percentage {
  border: 5px solid rgb(13, 7, 175);
  text-align: center;
  background-color: #f6c131;
  height: 100%;
  width: 50%;
}
.circle {
  text-align: center;
  height: 20em;
  width: 20rem;
  border: 0.3rem dashed red;
  border-radius: 100%;
  background-color: #c7f012;
}
